layout {

    focus-ring {
        active-color   "#6b7f9f"
        inactive-color "#f2f1ec"
        urgent-color   "#c27672"
    }

    border {
        active-color   "#6b7f9f"
        inactive-color "#f2f1ec"
        urgent-color   "#c27672"
    }

    shadow {
        color "#c8c5bd70"
    }

    tab-indicator {
        active-color   "#6b7f9f"
        inactive-color "#cdd6e4"
        urgent-color   "#c27672"
    }

    insert-hint {
        color "#6b7f9f80"
    }
}

recent-windows {
    highlight {
        active-color "#6b7f9f"
        urgent-color "#c27672"
    }
}
