$palette-content-background: #fdf8f6;
$palette-content-error: #ba1a1a;
$palette-content-error-container: #ffdad6;
$palette-content-inverse-on-surface: #f4f0ee;
$palette-content-inverse-primary: #cdc6b8;
$palette-content-inverse-surface: #31302f;
$palette-content-on-background: #1c1b1a;
$palette-content-on-error: #ffffff;
$palette-content-on-error-container: #410002;
$palette-content-on-primary: #ffffff;
$palette-content-on-primary-container: #ffffff;
$palette-content-on-primary-fixed: #1e1b13;
$palette-content-on-primary-fixed-variant: #4b463c;
$palette-content-on-secondary: #ffffff;
$palette-content-on-secondary-container: #4a4843;
$palette-content-on-secondary-fixed: #1d1b17;
$palette-content-on-secondary-fixed-variant: #494642;
$palette-content-on-surface: #1c1b1a;
$palette-content-on-surface-variant: #4a463f;
$palette-content-on-tertiary: #ffffff;
$palette-content-on-tertiary-container: #ffffff;
$palette-content-on-tertiary-fixed: #191d16;
$palette-content-on-tertiary-fixed-variant: #454840;
$palette-content-outline: #7b766e;
$palette-content-outline-variant: #ccc6bb;
$palette-content-primary: #605b51;
$palette-content-primary-container: #797469;
$palette-content-primary-fixed: #e9e2d4;
$palette-content-primary-fixed-dim: #cdc6b8;
$palette-content-scrim: #000000;
$palette-content-secondary: #615e59;
$palette-content-secondary-container: #e7e2db;
$palette-content-secondary-fixed: #e7e2db;
$palette-content-secondary-fixed-dim: #cbc6bf;
$palette-content-shadow: #000000;
$palette-content-source-color: #938d81;
$palette-content-surface: #fdf8f6;
$palette-content-surface-bright: #fdf8f6;
$palette-content-surface-container: #f1edeb;
$palette-content-surface-container-high: #ece7e5;
$palette-content-surface-container-highest: #e6e2e0;
$palette-content-surface-container-low: #f7f3f0;
$palette-content-surface-container-lowest: #ffffff;
$palette-content-surface-dim: #ddd9d7;
$palette-content-surface-tint: #635e53;
$palette-content-surface-variant: #e9e2d7;
$palette-content-tertiary: #5a5d55;
$palette-content-tertiary-container: #73766d;
$palette-content-tertiary-fixed: #e1e4d9;
$palette-content-tertiary-fixed-dim: #c5c8be;
$palette-expressive-background: #fefae7;
$palette-expressive-error: #ba1a1a;
$palette-expressive-error-container: #ffdad6;
$palette-expressive-inverse-on-surface: #f5f1df;
$palette-expressive-inverse-primary: #f5b1eb;
$palette-expressive-inverse-surface: #323125;
$palette-expressive-on-background: #1d1c11;
$palette-expressive-on-error: #ffffff;
$palette-expressive-on-error-container: #410002;
$palette-expressive-on-primary: #ffffff;
$palette-expressive-on-primary-container: #360436;
$palette-expressive-on-primary-fixed: #360436;
$palette-expressive-on-primary-fixed-variant: #683365;
$palette-expressive-on-secondary: #ffffff;
$palette-expressive-on-secondary-container: #0d2005;
$palette-expressive-on-secondary-fixed: #0d2005;
$palette-expressive-on-secondary-fixed-variant: #374c2c;
$palette-expressive-on-surface: #1d1c11;
$palette-expressive-on-surface-variant: #494833;
$palette-expressive-on-tertiary: #ffffff;
$palette-expressive-on-tertiary-container: #1c1d00;
$palette-expressive-on-tertiary-fixed: #1c1d00;
$palette-expressive-on-tertiary-fixed-variant: #474a0d;
$palette-expressive-outline: #7a7861;
$palette-expressive-outline-variant: #cbc7ad;
$palette-expressive-primary: #834a7e;
$palette-expressive-primary-container: #ffd7f6;
$palette-expressive-primary-fixed: #ffd7f6;
$palette-expressive-primary-fixed-dim: #f5b1eb;
$palette-expressive-scrim: #000000;
$palette-expressive-secondary: #4f6542;
$palette-expressive-secondary-container: #d1eabf;
$palette-expressive-secondary-fixed: #d1eabf;
$palette-expressive-secondary-fixed-dim: #b5cea4;
$palette-expressive-shadow: #000000;
$palette-expressive-source-color: #938d81;
$palette-expressive-surface: #fefae7;
$palette-expressive-surface-bright: #fefae7;
$palette-expressive-surface-container: #f2eedc;
$palette-expressive-surface-container-high: #ece8d6;
$palette-expressive-surface-container-highest: #e7e3d1;
$palette-expressive-surface-container-low: #f8f4e1;
$palette-expressive-surface-container-lowest: #ffffff;
$palette-expressive-surface-dim: #dedac8;
$palette-expressive-surface-tint: #834a7e;
$palette-expressive-surface-variant: #e7e3c8;
$palette-expressive-tertiary: #5f6224;
$palette-expressive-tertiary-container: #e5e79b;
$palette-expressive-tertiary-fixed: #e5e79b;
$palette-expressive-tertiary-fixed-dim: #c8cb81;
$palette-fidelity-background: #fdf8f6;
$palette-fidelity-error: #ba1a1a;
$palette-fidelity-error-container: #ffdad6;
$palette-fidelity-inverse-on-surface: #f4f0ee;
$palette-fidelity-inverse-primary: #cdc6b8;
$palette-fidelity-inverse-surface: #31302f;
$palette-fidelity-on-background: #1c1b1a;
$palette-fidelity-on-error: #ffffff;
$palette-fidelity-on-error-container: #410002;
$palette-fidelity-on-primary: #ffffff;
$palette-fidelity-on-primary-container: #ffffff;
$palette-fidelity-on-primary-fixed: #1e1b13;
$palette-fidelity-on-primary-fixed-variant: #4b463c;
$palette-fidelity-on-secondary: #ffffff;
$palette-fidelity-on-secondary-container: #4a4843;
$palette-fidelity-on-secondary-fixed: #1d1b17;
$palette-fidelity-on-secondary-fixed-variant: #494642;
$palette-fidelity-on-surface: #1c1b1a;
$palette-fidelity-on-surface-variant: #4a463f;
$palette-fidelity-on-tertiary: #ffffff;
$palette-fidelity-on-tertiary-container: #ffffff;
$palette-fidelity-on-tertiary-fixed: #1c1b21;
$palette-fidelity-on-tertiary-fixed-variant: #48464d;
$palette-fidelity-outline: #7b766e;
$palette-fidelity-outline-variant: #ccc6bb;
$palette-fidelity-primary: #605b51;
$palette-fidelity-primary-container: #797469;
$palette-fidelity-primary-fixed: #e9e2d4;
$palette-fidelity-primary-fixed-dim: #cdc6b8;
$palette-fidelity-scrim: #000000;
$palette-fidelity-secondary: #615e59;
$palette-fidelity-secondary-container: #e7e2db;
$palette-fidelity-secondary-fixed: #e7e2db;
$palette-fidelity-secondary-fixed-dim: #cbc6bf;
$palette-fidelity-shadow: #000000;
$palette-fidelity-source-color: #938d81;
$palette-fidelity-surface: #fdf8f6;
$palette-fidelity-surface-bright: #fdf8f6;
$palette-fidelity-surface-container: #f1edeb;
$palette-fidelity-surface-container-high: #ece7e5;
$palette-fidelity-surface-container-highest: #e6e2e0;
$palette-fidelity-surface-container-low: #f7f3f0;
$palette-fidelity-surface-container-lowest: #ffffff;
$palette-fidelity-surface-dim: #ddd9d7;
$palette-fidelity-surface-tint: #635e53;
$palette-fidelity-surface-variant: #e9e2d7;
$palette-fidelity-tertiary: #5e5b62;
$palette-fidelity-tertiary-container: #77737b;
$palette-fidelity-tertiary-fixed: #e6e0e9;
$palette-fidelity-tertiary-fixed-dim: #cac5cd;
$palette-fruit-salad-background: #fff8f0;
$palette-fruit-salad-error: #ba1a1a;
$palette-fruit-salad-error-container: #ffdad6;
$palette-fruit-salad-inverse-on-surface: #fbf0d8;
$palette-fruit-salad-inverse-primary: #ffb694;
$palette-fruit-salad-inverse-surface: #363020;
$palette-fruit-salad-on-background: #201b0d;
$palette-fruit-salad-on-error: #ffffff;
$palette-fruit-salad-on-error-container: #410002;
$palette-fruit-salad-on-primary: #ffffff;
$palette-fruit-salad-on-primary-container: #351000;
$palette-fruit-salad-on-primary-fixed: #351000;
$palette-fruit-salad-on-primary-fixed-variant: #7a3002;
$palette-fruit-salad-on-secondary: #ffffff;
$palette-fruit-salad-on-secondary-container: #351000;
$palette-fruit-salad-on-secondary-fixed: #351000;
$palette-fruit-salad-on-secondary-fixed-variant: #713718;
$palette-fruit-salad-on-surface: #201b0d;
$palette-fruit-salad-on-surface-variant: #4f462a;
$palette-fruit-salad-on-tertiary: #ffffff;
$palette-fruit-salad-on-tertiary-container: #231b00;
$palette-fruit-salad-on-tertiary-fixed: #231b00;
$palette-fruit-salad-on-tertiary-fixed-variant: #564500;
$palette-fruit-salad-outline: #827656;
$palette-fruit-salad-outline-variant: #d4c6a1;
$palette-fruit-salad-primary: #99461a;
$palette-fruit-salad-primary-container: #ffdbcc;
$palette-fruit-salad-primary-fixed: #ffdbcc;
$palette-fruit-salad-primary-fixed-dim: #ffb694;
$palette-fruit-salad-scrim: #000000;
$palette-fruit-salad-secondary: #8d4d2d;
$palette-fruit-salad-secondary-container: #ffdbcc;
$palette-fruit-salad-secondary-fixed: #ffdbcc;
$palette-fruit-salad-secondary-fixed-dim: #ffb694;
$palette-fruit-salad-shadow: #000000;
$palette-fruit-salad-source-color: #938d81;
$palette-fruit-salad-surface: #fff8f0;
$palette-fruit-salad-surface-bright: #fff8f0;
$palette-fruit-salad-surface-container: #f8edd5;
$palette-fruit-salad-surface-container-high: #f2e7d0;
$palette-fruit-salad-surface-container-highest: #ece2ca;
$palette-fruit-salad-surface-container-low: #fef3db;
$palette-fruit-salad-surface-container-lowest: #ffffff;
$palette-fruit-salad-surface-dim: #e4d9c2;
$palette-fruit-salad-surface-tint: #99461a;
$palette-fruit-salad-surface-variant: #f1e1bb;
$palette-fruit-salad-tertiary: #715c0c;
$palette-fruit-salad-tertiary-container: #fee086;
$palette-fruit-salad-tertiary-fixed: #fee086;
$palette-fruit-salad-tertiary-fixed-dim: #e0c46d;
$palette-monochrome-background: #f9f9f9;
$palette-monochrome-error: #ba1a1a;
$palette-monochrome-error-container: #ffdad6;
$palette-monochrome-inverse-on-surface: #f1f1f1;
$palette-monochrome-inverse-primary: #c6c6c6;
$palette-monochrome-inverse-surface: #303030;
$palette-monochrome-on-background: #1b1b1b;
$palette-monochrome-on-error: #ffffff;
$palette-monochrome-on-error-container: #410002;
$palette-monochrome-on-primary: #e2e2e2;
$palette-monochrome-on-primary-container: #ffffff;
$palette-monochrome-on-primary-fixed: #ffffff;
$palette-monochrome-on-primary-fixed-variant: #e2e2e2;
$palette-monochrome-on-secondary: #ffffff;
$palette-monochrome-on-secondary-container: #1b1b1b;
$palette-monochrome-on-secondary-fixed: #1b1b1b;
$palette-monochrome-on-secondary-fixed-variant: #3b3b3b;
$palette-monochrome-on-surface: #1b1b1b;
$palette-monochrome-on-surface-variant: #474747;
$palette-monochrome-on-tertiary: #e2e2e2;
$palette-monochrome-on-tertiary-container: #ffffff;
$palette-monochrome-on-tertiary-fixed: #ffffff;
$palette-monochrome-on-tertiary-fixed-variant: #e2e2e2;
$palette-monochrome-outline: #777777;
$palette-monochrome-outline-variant: #c6c6c6;
$palette-monochrome-primary: #000000;
$palette-monochrome-primary-container: #3b3b3b;
$palette-monochrome-primary-fixed: #5e5e5e;
$palette-monochrome-primary-fixed-dim: #474747;
$palette-monochrome-scrim: #000000;
$palette-monochrome-secondary: #5e5e5e;
$palette-monochrome-secondary-container: #e2e2e2;
$palette-monochrome-secondary-fixed: #c6c6c6;
$palette-monochrome-secondary-fixed-dim: #ababab;
$palette-monochrome-shadow: #000000;
$palette-monochrome-source-color: #938d81;
$palette-monochrome-surface: #f9f9f9;
$palette-monochrome-surface-bright: #f9f9f9;
$palette-monochrome-surface-container: #eeeeee;
$palette-monochrome-surface-container-high: #e8e8e8;
$palette-monochrome-surface-container-highest: #e2e2e2;
$palette-monochrome-surface-container-low: #f3f3f3;
$palette-monochrome-surface-container-lowest: #ffffff;
$palette-monochrome-surface-dim: #dadada;
$palette-monochrome-surface-tint: #5e5e5e;
$palette-monochrome-surface-variant: #e2e2e2;
$palette-monochrome-tertiary: #3b3b3b;
$palette-monochrome-tertiary-container: #747474;
$palette-monochrome-tertiary-fixed: #5e5e5e;
$palette-monochrome-tertiary-fixed-dim: #474747;
$palette-neutral-background: #fef8f4;
$palette-neutral-error: #ba1a1a;
$palette-neutral-error-container: #ffdad6;
$palette-neutral-inverse-on-surface: #f5f0eb;
$palette-neutral-inverse-primary: #d1c6ab;
$palette-neutral-inverse-surface: #32302d;
$palette-neutral-on-background: #1d1b19;
$palette-neutral-on-error: #ffffff;
$palette-neutral-on-error-container: #410002;
$palette-neutral-on-primary: #ffffff;
$palette-neutral-on-primary-container: #211b0a;
$palette-neutral-on-primary-fixed: #211b0a;
$palette-neutral-on-primary-fixed-variant: #4e4632;
$palette-neutral-on-secondary: #ffffff;
$palette-neutral-on-secondary-container: #1f1b10;
$palette-neutral-on-secondary-fixed: #1f1b10;
$palette-neutral-on-secondary-fixed-variant: #4c4639;
$palette-neutral-on-surface: #1d1b19;
$palette-neutral-on-surface-variant: #494643;
$palette-neutral-on-tertiary: #ffffff;
$palette-neutral-on-tertiary-container: #221b04;
$palette-neutral-on-tertiary-fixed: #221b04;
$palette-neutral-on-tertiary-fixed-variant: #4f462a;
$palette-neutral-outline: #7a7673;
$palette-neutral-outline-variant: #cac6c1;
$palette-neutral-primary: #665e48;
$palette-neutral-primary-container: #eee2c5;
$palette-neutral-primary-fixed: #eee2c5;
$palette-neutral-primary-fixed-dim: #d1c6ab;
$palette-neutral-scrim: #000000;
$palette-neutral-secondary: #645e4f;
$palette-neutral-secondary-container: #ebe2cf;
$palette-neutral-secondary-fixed: #ebe2cf;
$palette-neutral-secondary-fixed-dim: #cec6b4;
$palette-neutral-shadow: #000000;
$palette-neutral-source-color: #938d81;
$palette-neutral-surface: #fef8f4;
$palette-neutral-surface-bright: #fef8f4;
$palette-neutral-surface-container: #f2ede8;
$palette-neutral-surface-container-high: #ece7e3;
$palette-neutral-surface-container-highest: #e7e2dd;
$palette-neutral-surface-container-low: #f8f3ee;
$palette-neutral-surface-container-lowest: #ffffff;
$palette-neutral-surface-dim: #ded9d5;
$palette-neutral-surface-tint: #665e48;
$palette-neutral-surface-variant: #e7e2dd;
$palette-neutral-tertiary: #685e40;
$palette-neutral-tertiary-container: #f1e1bb;
$palette-neutral-tertiary-fixed: #f1e1bb;
$palette-neutral-tertiary-fixed-dim: #d4c6a1;
$palette-rainbow-background: #f9f9f9;
$palette-rainbow-error: #ba1a1a;
$palette-rainbow-error-container: #ffdad6;
$palette-rainbow-inverse-on-surface: #f1f1f1;
$palette-rainbow-inverse-primary: #e7c349;
$palette-rainbow-inverse-surface: #303030;
$palette-rainbow-on-background: #1b1b1b;
$palette-rainbow-on-error: #ffffff;
$palette-rainbow-on-error-container: #410002;
$palette-rainbow-on-primary: #ffffff;
$palette-rainbow-on-primary-container: #231b00;
$palette-rainbow-on-primary-fixed: #231b00;
$palette-rainbow-on-primary-fixed-variant: #564500;
$palette-rainbow-on-secondary: #ffffff;
$palette-rainbow-on-secondary-container: #221b04;
$palette-rainbow-on-secondary-fixed: #221b04;
$palette-rainbow-on-secondary-fixed-variant: #4f462a;
$palette-rainbow-on-surface: #1b1b1b;
$palette-rainbow-on-surface-variant: #474747;
$palette-rainbow-on-tertiary: #ffffff;
$palette-rainbow-on-tertiary-container: #02210d;
$palette-rainbow-on-tertiary-fixed: #02210d;
$palette-rainbow-on-tertiary-fixed-variant: #2e4e35;
$palette-rainbow-outline: #777777;
$palette-rainbow-outline-variant: #c6c6c6;
$palette-rainbow-primary: #725c00;
$palette-rainbow-primary-container: #ffe081;
$palette-rainbow-primary-fixed: #ffe081;
$palette-rainbow-primary-fixed-dim: #e7c349;
$palette-rainbow-scrim: #000000;
$palette-rainbow-secondary: #685e40;
$palette-rainbow-secondary-container: #f1e1bb;
$palette-rainbow-secondary-fixed: #f1e1bb;
$palette-rainbow-secondary-fixed-dim: #d4c6a1;
$palette-rainbow-shadow: #000000;
$palette-rainbow-source-color: #938d81;
$palette-rainbow-surface: #f9f9f9;
$palette-rainbow-surface-bright: #f9f9f9;
$palette-rainbow-surface-container: #eeeeee;
$palette-rainbow-surface-container-high: #e8e8e8;
$palette-rainbow-surface-container-highest: #e2e2e2;
$palette-rainbow-surface-container-low: #f3f3f3;
$palette-rainbow-surface-container-lowest: #ffffff;
$palette-rainbow-surface-dim: #dadada;
$palette-rainbow-surface-tint: #725c00;
$palette-rainbow-surface-variant: #e2e2e2;
$palette-rainbow-tertiary: #46664c;
$palette-rainbow-tertiary-container: #c7ecca;
$palette-rainbow-tertiary-fixed: #c7ecca;
$palette-rainbow-tertiary-fixed-dim: #accfaf;
$palette-tonal-spot-background: #fff8f0;
$palette-tonal-spot-error: #ba1a1a;
$palette-tonal-spot-error-container: #ffdad6;
$palette-tonal-spot-inverse-on-surface: #f8f0e2;
$palette-tonal-spot-inverse-primary: #e0c46d;
$palette-tonal-spot-inverse-surface: #343027;
$palette-tonal-spot-on-background: #1e1b13;
$palette-tonal-spot-on-error: #ffffff;
$palette-tonal-spot-on-error-container: #410002;
$palette-tonal-spot-on-primary: #ffffff;
$palette-tonal-spot-on-primary-container: #231b00;
$palette-tonal-spot-on-primary-fixed: #231b00;
$palette-tonal-spot-on-primary-fixed-variant: #564500;
$palette-tonal-spot-on-secondary: #ffffff;
$palette-tonal-spot-on-secondary-container: #221b04;
$palette-tonal-spot-on-secondary-fixed: #221b04;
$palette-tonal-spot-on-secondary-fixed-variant: #4f462a;
$palette-tonal-spot-on-surface: #1e1b13;
$palette-tonal-spot-on-surface-variant: #4c4639;
$palette-tonal-spot-on-tertiary: #ffffff;
$palette-tonal-spot-on-tertiary-container: #02210d;
$palette-tonal-spot-on-tertiary-fixed: #02210d;
$palette-tonal-spot-on-tertiary-fixed-variant: #2e4e35;
$palette-tonal-spot-outline: #7d7667;
$palette-tonal-spot-outline-variant: #cec6b4;
$palette-tonal-spot-primary: #715c0c;
$palette-tonal-spot-primary-container: #fee086;
$palette-tonal-spot-primary-fixed: #fee086;
$palette-tonal-spot-primary-fixed-dim: #e0c46d;
$palette-tonal-spot-scrim: #000000;
$palette-tonal-spot-secondary: #685e40;
$palette-tonal-spot-secondary-container: #f1e1bb;
$palette-tonal-spot-secondary-fixed: #f1e1bb;
$palette-tonal-spot-secondary-fixed-dim: #d4c6a1;
$palette-tonal-spot-shadow: #000000;
$palette-tonal-spot-source-color: #938d81;
$palette-tonal-spot-surface: #fff8f0;
$palette-tonal-spot-surface-bright: #fff8f0;
$palette-tonal-spot-surface-container: #f5eddf;
$palette-tonal-spot-surface-container-high: #efe7da;
$palette-tonal-spot-surface-container-highest: #e9e2d4;
$palette-tonal-spot-surface-container-low: #fbf3e5;
$palette-tonal-spot-surface-container-lowest: #ffffff;
$palette-tonal-spot-surface-dim: #e1d9cc;
$palette-tonal-spot-surface-tint: #715c0c;
$palette-tonal-spot-surface-variant: #ebe2cf;
$palette-tonal-spot-tertiary: #46664c;
$palette-tonal-spot-tertiary-container: #c7ecca;
$palette-tonal-spot-tertiary-fixed: #c7ecca;
$palette-tonal-spot-tertiary-fixed-dim: #accfaf;
$theme-light-background: #fdf8f6;
$theme-light-error: #ba1a1a;
$theme-light-error-container: #ffdad6;
$theme-light-inverse-on-surface: #f4f0ee;
$theme-light-inverse-primary: #cdc6b8;
$theme-light-inverse-surface: #31302f;
$theme-light-on-background: #1c1b1a;
$theme-light-on-error: #ffffff;
$theme-light-on-error-container: #410002;
$theme-light-on-primary: #ffffff;
$theme-light-on-primary-container: #ffffff;
$theme-light-on-primary-fixed: #1e1b13;
$theme-light-on-primary-fixed-variant: #4b463c;
$theme-light-on-secondary: #ffffff;
$theme-light-on-secondary-container: #4a4843;
$theme-light-on-secondary-fixed: #1d1b17;
$theme-light-on-secondary-fixed-variant: #494642;
$theme-light-on-surface: #1c1b1a;
$theme-light-on-surface-variant: #4a463f;
$theme-light-on-tertiary: #ffffff;
$theme-light-on-tertiary-container: #ffffff;
$theme-light-on-tertiary-fixed: #1c1b21;
$theme-light-on-tertiary-fixed-variant: #48464d;
$theme-light-outline: #7b766e;
$theme-light-outline-variant: #ccc6bb;
$theme-light-primary: #605b51;
$theme-light-primary-container: #797469;
$theme-light-primary-fixed: #e9e2d4;
$theme-light-primary-fixed-dim: #cdc6b8;
$theme-light-scrim: #000000;
$theme-light-secondary: #615e59;
$theme-light-secondary-container: #e7e2db;
$theme-light-secondary-fixed: #e7e2db;
$theme-light-secondary-fixed-dim: #cbc6bf;
$theme-light-shadow: #000000;
$theme-light-source-color: #938d81;
$theme-light-surface: #fdf8f6;
$theme-light-surface-bright: #fdf8f6;
$theme-light-surface-container: #f1edeb;
$theme-light-surface-container-high: #ece7e5;
$theme-light-surface-container-highest: #e6e2e0;
$theme-light-surface-container-low: #f7f3f0;
$theme-light-surface-container-lowest: #ffffff;
$theme-light-surface-dim: #ddd9d7;
$theme-light-surface-tint: #635e53;
$theme-light-surface-variant: #e9e2d7;
$theme-light-tertiary: #5e5b62;
$theme-light-tertiary-container: #77737b;
$theme-light-tertiary-fixed: #e6e0e9;
$theme-light-tertiary-fixed-dim: #cac5cd;
$theme-dark-background: #141312;
$theme-dark-error: #ffb4ab;
$theme-dark-error-container: #93000a;
$theme-dark-inverse-on-surface: #31302f;
$theme-dark-inverse-primary: #635e53;
$theme-dark-inverse-surface: #e6e2e0;
$theme-dark-on-background: #e6e2e0;
$theme-dark-on-error: #690005;
$theme-dark-on-error-container: #ffdad6;
$theme-dark-on-primary: #343027;
$theme-dark-on-primary-container: #000000;
$theme-dark-on-primary-fixed: #1e1b13;
$theme-dark-on-primary-fixed-variant: #4b463c;
$theme-dark-on-secondary: #32302c;
$theme-dark-on-secondary-container: #e9e3dc;
$theme-dark-on-secondary-fixed: #1d1b17;
$theme-dark-on-secondary-fixed-variant: #494642;
$theme-dark-on-surface: #e6e2e0;
$theme-dark-on-surface-variant: #ccc6bb;
$theme-dark-on-tertiary: #322f36;
$theme-dark-on-tertiary-container: #000000;
$theme-dark-on-tertiary-fixed: #1c1b21;
$theme-dark-on-tertiary-fixed-variant: #48464d;
$theme-dark-outline: #959087;
$theme-dark-outline-variant: #4a463f;
$theme-dark-primary: #cdc6b8;
$theme-dark-primary-container: #969084;
$theme-dark-primary-fixed: #e9e2d4;
$theme-dark-primary-fixed-dim: #cdc6b8;
$theme-dark-scrim: #000000;
$theme-dark-secondary: #cbc6bf;
$theme-dark-secondary-container: #4b4944;
$theme-dark-secondary-fixed: #e7e2db;
$theme-dark-secondary-fixed-dim: #cbc6bf;
$theme-dark-shadow: #000000;
$theme-dark-source-color: #938d81;
$theme-dark-surface: #141312;
$theme-dark-surface-bright: #3a3938;
$theme-dark-surface-container: #201f1e;
$theme-dark-surface-container-high: #2b2a29;
$theme-dark-surface-container-highest: #363433;
$theme-dark-surface-container-low: #1c1b1a;
$theme-dark-surface-container-lowest: #0f0e0d;
$theme-dark-surface-dim: #141312;
$theme-dark-surface-tint: #cdc6b8;
$theme-dark-surface-variant: #4a463f;
$theme-dark-tertiary: #cac5cd;
$theme-dark-tertiary-container: #938f97;
$theme-dark-tertiary-fixed: #e6e0e9;
$theme-dark-tertiary-fixed-dim: #cac5cd;
